@use "../utils/typography" as mixins;
@use "../utils/breakpoints" as *;

.alert {
    width: 27.5rem;
    height: 4.5rem;
    border-radius: 1.5rem;
    background-color: white;
    color: var(--text-color);
    font-family: var(--main-font);
    @include mixins.text-body-small-bold;
    
    @include mobile {
        width: 21.9375rem;
        height: 3.75rem;
    }

    &__content {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 24px;
        position: relative;

        @include mobile {
            padding: 0 20px;
        }
    }
    
    &__icon {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        
        &:first-child {
            margin-right: 12px;
        }

        @include mobile {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
        
            &:first-child {
                margin-right: 8px;
            }
        }
    }
    
    &__text {
        flex-grow: 1;
        text-align: left;
    }
    
    &--success {
        border: 1px solid var(--electric-green-default-color);
    }
    
    &--error {
        border: 1px solid var(--suai-red-default-color);
    }
}