@use "../utils/breakpoints" as *;
@use "../utils/typography" as *;


.document-card {
    display: flex;
    flex-direction: column;
    width: 74rem;
    padding: 2.4rem;
    border-radius: 3.2rem;
    background: var(--card-color);
    font-family: var(--main-font);
    color: var(--text-color);

    @include from-mobile{
        &:hover{
            background-color: var(--ultramarine-default-color);
            color: var(--ultramarine-light-color-2);
            svg{
                color: var(--text-contrast-color);
            }
            .document-card__info{
                color: var(--text-contrast-color);
            }
        }
    }

    @include mobile{
        width: 35.1rem;
        border-radius: 2.4rem;
        padding: 2rem;
    }

    svg {
        width: 2rem;
        height: 2rem;
        @include mobile{
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column; 
        gap: 4rem;
    }
  
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  
    &__info {
        color: var(--text-secondary-color);
        @include text-body-small;
    }
}
  