@use "../utils/breakpoints" as *;
@use "../utils/typography" as *;

.dropdown {
    position: relative;
    display: inline-block;
    font-family: var(--main-font);

    &__toggle {
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #e0e0e0;
        }
    }

    &__menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: max-content;
        max-width: 33.4rem;
        min-width: 16rem;
        background: var(--card-color);
        border: 1px solid var(--border-color);
        border-radius: 1.2rem;
        box-shadow: 0 4px 0.8rem rgba(0, 0, 0, 0.3);
        padding: 0.8rem;
        z-index: 1;
        @include text-body-small;
    }

    &__item {
        // Общий padding для checkbox и text
        &:not(.dropdown__item--icon) {
            padding: 0.8rem 1.2rem;
        }

        color: var(--text-color);
        cursor: pointer;

        // Общий ховер для текста и чекбоксов
        &:hover:not(.dropdown__item--icon) {
            background-color: var(--gray-color2);
            border-radius: 0.8rem;
        }
    }

    // Стили для элементов с иконками
    &__item--icon {
        padding: 0; // Убираем внешний padding

        .dropdown__icon {
            display: inline-flex;
            align-items: center;
            gap: 1.2rem;
            padding: 0.8rem 1.2rem; // Переносим padding внутрь
            border-radius: 8px;

            &:hover {
              border-radius: 1.2rem;
              background-color: var(--gray-color2);
            }

            svg {
                width: 2.4rem;
                height: 2.4rem;
                flex-shrink: 0;
            }

            &-text {
                white-space: nowrap;
            }
        }
    }
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}