@use "../utils/breakpoints" as *;
@use "../utils/typography" as *;

.event-card {
    display: flex;
    flex-direction: column;
    width: 36rem;
    border-radius: 3.2rem;
    overflow: hidden;
    background-color: var(--card-color);
    padding: 0.8rem;
    gap: 2rem;
    font-family: var(--main-font);

    @include mobile{
        width: 35.1rem;
        border-radius: 2.4rem;
        gap: 1.6rem;
    }
  &__image-wrapper {
    position: relative;
    height: 20rem;
    border-radius: 2.4rem;
    overflow: hidden;

    @include mobile{
        border-radius: 2rem;
    }

    .event-card__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .event-card__date {
        position: absolute;
        top: 1.6rem;
        left: 1.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--ultramarine-default-color);
        background: var(--card-color);
        padding: 0.8rem;
        border-radius: 1.2rem;
    }
    .event-card__month {
        color: var(--text-secondary-color);
        @include text-caption;
    }
  }

  &__content {
    padding: 0.8rem;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 2rem;
    @include mobile{
        margin-bottom: 1.6rem;
    }
  }

  &__bookmark-button {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
  }
  
  &__tags{
    display: flex;
    gap: 8px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  &__rating {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.8rem;
    background: #FFF0BC;
    color: var(--text-color);
    @include text-tag;

    svg{
        width: 1.6rem;
        height: 1.6rem;
        @include mobile{
            width: 1.2rem;
            height: 1.2rem;
        }
    }
  }

  &__time-until {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-left: auto;
    color: var(--text-secondary-color); 
  
    @include text-caption;
  
    &--soon {
      color: var(--suai-red-default-color); // Красный для состояния "скоро"
    }
  
    svg {
      width: 2rem;
      height: 2rem;
      color: inherit; // Наследует цвет от родителя
  
      @include mobile {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }


  &__title {
    cursor: pointer;
    color: var(--text-color);
    margin-bottom: 3.2rem;

    @include from-mobile{
        &:hover {
            color: var(--ultramarine-default-color);
        }
    }

    @include mobile{
        margin-bottom: 2.4rem;
    }
  }

  &__details {
    color: var(--text-color);
    border-top: 1px solid var(--divider-color);
    padding-top: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem; 

    @include mobile{
        gap: 1.2rem; 
    }
  }

  &__time,
  &__location,
  &__attendees {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    @include text-body-small;
  }

  &__icon {
    color: var(--ultramarine-default-color);
    width: 2rem;
    height: 2rem;
    @include mobile{
        width: 1.6rem;
        height: 1.6rem;
    }
  }
}
