@use "../utils/breakpoints" as *;

.image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-color4);
    border-radius: 2.4rem;
    overflow: hidden; 

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        }
  
    &__icon {
        width: 50%;
        height: 50%;
    }
  
    // Варианты placeholder'а
    &--rating-card {
        width: 24.9rem;
        height: 24.9rem;

        @include mobile{
            width: 15.2rem;
            height: 15.2rem;
        }
    }
  
    &--profile {
        width: 20rem;
        height: 20rem;

        @include mobile{
            width: 12rem;
            height: 12rem;
        }
    }
  
    &--menu {
        width: 12rem;
        height: 12rem;

        @include mobile{
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 0.8rem;
        }
    }
  
    &--rating-list {
        border-radius: 1.2rem;
        width: 4rem;
        height: 4rem;

        @include mobile{
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 0.8rem;
        }
    }
}
  