@use "../utils/breakpoints" as *;
@use "../utils/typography" as *;

.level-card {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    border-radius: 3.2rem;
    background: var(--gray-color1); // Серый фон по умолчанию
    border: 1px solid var(--border-color);
    width: 100%;
    max-width: 34.4rem;
    font-family: var(--main-font);
    
    @include mobile{
        max-width: 31.1rem;
        border-radius: 2.4rem;
    }

    &__icon {
        width: 8rem;
        height: 8rem;
        border-radius: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img,
        svg {
            height: 100%;
            object-fit: cover;
            filter: grayscale(1) brightness(1.25); // Серый фильтр для иконки задания
        }

        @include mobile{
            width: 6.4rem;
            height: 6.4rem;
            border-radius: 1.6rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        margin-left: 1.6rem;
        gap: 0.8rem;
        min-width: 0; // Важно для работы `overflow`
    }

    &__name {
        color: var(--text-blind-color);
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        max-width: 100%; 
    }

    &__cost {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        color: var(--text-blind-color);
        @include text-body-small;

        svg {
            width: 2.4rem;
            height: 2.4rem;
            filter: grayscale(1) brightness(1.20); // Светло-серый цвет монеты

            @include mobile{
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }

    // Состояние "completed"
    &.completed {
        background: var(--ultramarine-default-color);
        border: none;
        svg{
            width: 2.4rem;
            height: 2.4rem;

            @include mobile{
                width: 1.6rem;
                height: 1.6rem;
            }
        }
        .level-card__cost {
            display: none; // Убираем цену и монету
        }

        .level-card__icon img,
        .level-card__icon svg {
            filter: none; // Возвращаем цветной вид иконки задания
        }

        .level-card__completed svg {
            filter: none; // Цветная иконка "CompletedIcon"
        }

        .level-card__name {
            color: var(--text-contrast-color); 
        }
    }
}
