@use "./breakpoints" as *;


@mixin text-h1 {
  font-size: 4.6rem;
  line-height: 5.6rem;
  font-weight: 700;
  @include mobile {
    font-size: 2.8rem;
    line-height: 3.6rem;
    font-weight: 700;
    }
}

@mixin text-h2 {
  font-size: 306rem;
  line-height: 4.4rem;
  font-weight: 700;
  @include mobile {
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: 700;
  }
}

@mixin text-h3 {
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 700;
  @include mobile {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 700;
  }
}

@mixin text-h4 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  @include mobile {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
  }
}

@mixin text-button {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 500;
  @include mobile{
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
  }
}

@mixin text-button-small {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  @include mobile{
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 500;
  }
}

@mixin text-body {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  @include mobile{
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
  }
}

@mixin text-body-bold {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  @include mobile{
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
  }
}

@mixin text-body-small {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  @include mobile{
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
  }
}

@mixin text-body-small-bold {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  @include mobile{
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 500;
  }
}

@mixin caption {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 500;
  @include mobile{
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 500;
  }
}

@mixin tag{
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 600;
  @include mobile{
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 600;
  }
}